
{{#each questions}}
  
  <h3>{{question}}</h3>
  <ul>
      <li>
          <button id="btn1" class="btn">{{choices1}}</button>
      </li>
      <li>
         <button id="btn2" class="btn">{{choices2}}</button>
      </li>
      <li>
          <button id="btn3" class="btn">{{choices3}}</button>
      </li>
      <li>
         <button id="btn4" class="btn">{{choices4}}</button>
      </li>
  </ul>

{{/each}} 
