<h1>Hogwarts School of Witchcraft and Wizardry House Selection Quiz</h1>

{{#each questions}}
  
  <h3>{{question}}</h3>
  <ul>
      <li>
          {{choices1}}
      </li>
      <li>
          {{choices2}}
      </li>
      <li>
          {{choices3}}
      </li>
      <li>
          {{choices4}}
      </li>
  </ul>

{{/each}}
