<style>
    body {
    font-family: 'Comfortaa', sans-serif;
	background: #111;
	color: #FFFFFF;
	text-shadow: 0 1px 2px rgba(0,0,0,0.2);
	
}
h1 {
    text-align: center;
    font-family: 'Harry Potter', sans-serif;
    font-size: 3em;
    margin-top: 2em;
    padding-bottom: 1em;
}

    }
</style>
<h1>Hogwarts School of Witchcraft and Wizardry House Selection Quiz</h1>

{{!-- {{#each questions}}
  
  <h3>{{question}}</h3>
  <ul>
      <li>
          <label for="choice1">{{choices1}}</label>
          <input type="radio" name="choice1" id="choice1"/>
      </li>
      <li>
          <label for="choice2">{{choices2}}</label>
          <input type="radio" name="choice2" id="choice2"/>
      </li>
      <li>
          <label for="choice3">{{choices3}}</label>
          <input type="radio" name="choice3" id="choice3"/>
      </li>
      <li>
          <label for="choice4">{{choices4}}</label>
          <input type="radio" name="choice4" id="choice4"/>
      </li>
  </ul>

{{/each}} --}}
<h3 class="question" id="question1">You've made it to Hogwarts, which means you've already brought a wand from Ollivander's, What material is at its core?</h3>
    <form id="choices1">
        <label for="que1cho1">Phoenix Feather</label>
        <input type="radio" name="que1cho1" id="que1cho1" value="1"/>
        <br>
        <label for="que1cho2">Unicorn Hair</label>
        <input type="radio" name="que1cho2" id="que1cho1" value="2"/>
        <br>
        <label for="que1cho3">Dragon Heartstring</label>
        <input type="radio" name="que1cho3" id="que1cho1" value="3"/>
        <br>
        <label for="que1cho4">Arachnid Fang</label>
        <input type="radio" name="que1cho4" id="que1cho1" value="4"/>
        <br>
    </form>
<h3 class="question" id="question2">Choose a Deathly Hallow</h3>
    <form id="choices2">
        <label for="que1cho1">The Cloak of Invisibility</label>
        <input type="radio" name="que2cho1" id="que2cho1" value="1"/>
        <br>
        <label for="que1cho2">The Resurrection Stone</label>
        <input type="radio" name="que2cho2" id="que2cho1" value="2"/>
        <br>
        <label for="que1cho3">None</label>
        <input type="radio" name="que2cho3" id="que2cho1" value="3"/>
        <br>
        <label for="que1cho4">The Elder Wand</label>
        <input type="radio" name="que2cho4" id="que2cho1" value="4"/>
        <br>
    </form>
<h3 class="question" id="question3">Which path do you intend to follow after leaving Hogwarts?</h3>
    <form id="choices3">
        <label for="que1cho1">I'd settle down and start a family as soon as possible!</label>
        <input type="radio" name="que3cho1" id="que3cho1" value="1"/>
        <br>
        <label for="que1cho2">I think I'd travel for a while before committing to a carrer.</label>
        <input type="radio" name="que3cho2" id="que3cho1" value="2"/>
        <br>
        <label for="que1cho3">I'd join the Ministry - I want to make a difference in the world</label>
        <input type="radio" name="que3cho3" id="que3cho1" value="3"/>
        <br>
        <label for="que1cho4">I'd continue to work hard in order to achieve as much success as possible.</label>
        <input type="radio" name="que3cho4" id="que3cho1" value="4"/>
        <br>
    </form>
<h3 class="question" id="question4">What would you see in the Mirror of Erised?</h3>
    <form id="choices4">
        <label for="que1cho1">Myself, surrounded by loving family and friends</label>
        <input type="radio" name="que4cho1" id="que4cho1" value="1"/>
        <br>
        <label for="que1cho2">Myself, experiencing a marvellous adventure</label>
        <input type="radio" name="que4cho2" id="que4cho1" value="2"/>
        <br>
        <label for="que1cho3">Myself, knowledgable above all</label>
        <input type="radio" name="que4cho3" id="que4cho1" value="3"/>
        <br>
        <label for="que1cho4">Myself, surrounded by riches</label>
        <input type="radio" name="que4cho4" id="que4cho1" value="4"/>
        <br>
    </form>
<h3 class="question" id="question5">It's Saturday, you've finished your homework, and you have some free time. You decide to spend some time away from you common room. Where do you go?</h3>
    <form id="choices5">
        <label for="que1cho1">The Room of Requirements</label>
        <input type="radio" name="que5cho1" id="que5cho1" value="1"/>
        <br>
        <label for="que1cho2">The kitchens</label>
        <input type="radio" name="que5cho2" id="que5cho1" value="2"/>
        <br>
        <label for="que1cho3">The library</label>
        <input type="radio" name="que5cho3" id="que5cho1" value="3"/>
        <br>
        <label for="que1cho4">The Forbidden Forest</label>
        <input type="radio" name="que5cho4" id="que5cho1" value="4"/>
        <br>
    </form>
<h3 class="question" id="question6">You're allowed a pet at Hogwarts, an owl, a cat, or a toad. Which do you bring?</h3>
    <form id="choices6">
        <label for="que1cho1">Owl</label>
        <input type="radio" name="que6cho1" id="que6cho1" value="1"/>
        <br>
        <label for="que1cho2">Toad</label>
        <input type="radio" name="que6cho2" id="que6cho1" value="2"/>
        <br>
        <label for="que1cho3">Cat</label>
        <input type="radio" name="que6cho3" id="que6cho1" value="3"/>
        <br>
        <label for="que1cho4">Nothing, I cant be trusted to look after a pet!</label>
        <input type="radio" name="que6cho4" id="que6cho1" value="4"/>
        <br>
    </form>
<h3 class="question" id="question7">The first Quidditch match of the season is approaching, and you can't wait to get involved. What role are you playing?</h3>
    <form id="choices7">
        <label for="que1cho1">Seeker. Iwant the glory!</label>
        <input type="radio" name="que7cho1" id="que7cho1" value="1"/>
        <br>
        <label for="que1cho2">Ill be in the crowd, making sure supporter morale is high!</label>
        <input type="radio" name="que7cho2" id="que7cho1" value="2"/>
        <br>
        <label for="que1cho3">Chaser. I like to be involved, and work as part of the team</label>
        <input type="radio" name="que7cho3" id="que7cho1" value="3"/>
        <br>
        <label for="que1cho4">Beater. I like having all that power</label>
        <input type="radio" name="que7cho4" id="que7cho1" value="4"/>
        <br>
    </form>
<h3 class="question" id="question8">Which of your skills are you most proud of?</h3>
    <form id="choices8">
        <label for="que1cho1">My ability to keep secrets</label>
        <input type="radio" name="que8cho1" id="que8cho1" value="1"/>
        <br>
        <label for="que1cho2">My ability to make new friends</label>
        <input type="radio" name="que8cho2" id="que8cho1" value="2"/>
        <br>
        <label for="que1cho3">My ability to absorb new information</label>
        <input type="radio" name="que8cho3" id="que8cho1" value="3"/>
        <br>
        <label for="que1cho4">My ability to get what I want</label>
        <input type="radio" name="que8cho4" id="que8cho1" value="4"/>
        <br>
    </form>
<h3 class="question" id="question9">Which of the following would you most like to study?</h3>
    <form id="choices9">
        <label for="que1cho1">Centaurs</label>
        <input type="radio" name="que9cho1" id="que9cho1" value="1"/>
        <br>
        <label for="que1cho2">Ghosts</label>
        <input type="radio" name="que9cho2" id="que9cho1" value="2"/>
        <br>
        <label for="que1cho3">Werewolves</label>
        <input type="radio" name="que9cho3" id="que9cho1" value="3"/>
        <br>
        <label for="que1cho4">Goblins</label>
        <input type="radio" name="que9cho4" id="que9cho1" value="4"/>
        <br>
    </form>
<h3 class="question" id="question10">Given the choice, would you rather invent a potion that would gurantee you</h3>
    <form id="choices10">
        <label for="que1cho1">Glory</label>
        <input type="radio" name="que10cho1" id="que10cho1" value="1"/>
        <br>
        <label for="que1cho2">Love</label>
        <input type="radio" name="que10cho2" id="que10cho1" value="2"/>
        <br>
        <label for="que1cho3">Wisdom</label>
        <input type="radio" name="que10cho3" id="que10cho1" value="3"/>
        <br>
        <label for="que1cho4">Power</label>
        <input type="radio" name="que10cho4" id="que10cho1" value="4"/>
        <br>
    </form>
<h3 class="question" id="question11">Once every century, the Flutterby bush produces flowers that adapt their scent to attract</h3>
    <form id="choices11">
        <label for="que1cho1">Home</label>
        <input type="radio" name="que11cho1" id="que11cho1" value="1"/>
        <br>
        <label for="que1cho2">Fresh parchment</label>
        <input type="radio" name="que11cho2" id="que11cho1" value="2"/>
        <br>
        <label for="que1cho3">The sea</label>
        <input type="radio" name="que11cho3" id="que11cho1" value="3"/>
        <br>
        <label for="que1cho4">A crackling log fire</label>
        <input type="radio" name="que11cho4" id="que11cho1" value="4"/>
        <br>
    </form>
<h3 class="question" id="question12">Which quality do you value most?</h3>
    <form id="choices12">
        <label for="que1cho1">Courage</label>
        <input type="radio" name="que12cho1" id="que12cho1" value="1"/>
        <br>
        <label for="que1cho2">Patience</label>
        <input type="radio" name="que12cho2" id="que12cho1" value="2"/>
        <br>
        <label for="que1cho3">Intelligence</label>
        <input type="radio" name="que12cho3" id="que12cho1" value="3"/>
        <br>
        <label for="que1cho4">Ambition</label>
        <input type="radio" name="que12cho4" id="que12cho1" value="4"/>
        <br>
    </form>
<h3 class="question" id="question13">What is your favorite color?</h3>
    <form id="choices13">
        <label for="que1cho1">Red</label>
        <input type="radio" name="que13cho1" id="que13cho1" value="1"/>
        <br>
        <label for="que1cho2">Yellow</label>
        <input type="radio" name="que13cho2" id="que13cho1" value="2"/>
        <br>
        <label for="que1cho3">Blue</label>
        <input type="radio" name="que13cho3" id="que13cho1" value="3"/>
        <br>
        <label for="que1cho4">Green</label>
        <input type="radio" name="que13cho4" id="que13cho1" value="4"/>
        <br>
    </form>
<h3 class="question" id="question14">What spell would you cast?</h3>
    <form id="choices14">
        <label for="que1cho1">Protego</label>
        <input type="radio" name="que14cho1" id="que14cho1" value="1"/>
        <br>
        <label for="que1cho2">Riddikulus</label>
        <input type="radio" name="que14cho2" id="que14cho1" value="2"/>
        <br>
        <label for="que1cho3">Absorbos librus</label>
        <input type="radio" name="que14cho3" id="que14cho1" value="3"/>
        <br>
        <label for="que1cho4">Crucio</label>
        <input type="radio" name="que14cho4" id="que14cho1" value="4"/>
        <br>
    </form>
<h3 class="question" id="question15">What is your patronus?</h3>
    <form id="choices15">
        <label for="que1cho1">Phoneix</label>
        <input type="radio" name="que15cho1" id="que15cho1" value="1"/>
        <br>
        <label for="que1cho2">Otter</label>
        <input type="radio" name="que15cho2" id="que15cho2" value="2"/>
        <br>
        <label for="que1cho3">Stag</label>
        <input type="radio" name="que15cho3" id="que15cho3" value="3"/>
        <br>
        <label for="que1cho4">Snake</label>
        <input type="radio" name="que15cho4" id="que15cho4" value="4"/>
        <br>
    </form>
<button id="results">See results</button>
</body>

<script src="/javascript/quiz-results.js"></script>
</html>